@using Linkman.Domain.Entities
@using Linkman.Domain.Abstract
@using Linkman.WebUI.Models
@using Linkman.WebUI.HtmlHelpers

@model  PersonListViewModel

@{
    ViewBag.Title = "People";
}

@foreach (var p in Model.People)
{
    <div>
        <h3>@p.Name (@p.Department.GetDisplayName())</h3>
         @if (p.Mobile != null)
         {
             @p.Mobile;
         }
         else
         {
             <p>无号码</p>
         }
    </div>
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x}))
</div>

