@using Linkman.Domain.Entities
@using Linkman.Domain.Abstract
@model IEnumerable<Person>

@{
    ViewBag.Title = "People";
}

@foreach (var p in Model)
{
    <div>
        <h3>@p.Name (@p.Department.GetDisplayName())</h3>
         @if (p.Mobile != null)
         {
             @p.Mobile;
         }
         else
         {
             <p>无号码</p>
         }
    </div>
}

