@using Linkman.Domain.Entities
@using Linkman.Domain.Abstract
@using Linkman.WebUI.Models
@using Linkman.WebUI.HtmlHelpers

@model  PersonListViewModel

@{
    ViewBag.Title = "People";
}

@foreach (var p in Model.People)
{
   @Html.Partial("PersonSummary", p);
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
    new { category = Model.CurrentCategory, page = x}))
</div>

