
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body background="~/Image/Cover.jpg" style="text-align: center;background-size:cover">
        <p style="font-size:72px; font-weight:bold">欢迎来到实力至上主义空间</p>
</body>
</html>
